<div class="motd">
    This project is not affiliated with or endorsed by the RATP.<br/><br/>

    <div class="motd__item">
        <div class="motd__item__title">
            Support is available <a href="https://github.com/pgrimaud/horaires-ratp-api">here</a>.
        </div>
        <iframe src="https://ghbtns.com/github-btn.html?user=pgrimaud&repo=horaires-ratp-api&type=star&count=true"
                frameborder="0" scrolling="0" width="170px" height="20px">
        </iframe>
    </div>

    <br/>

    <div class="motd__item">
        <div class="motd__item__title">
            Source code is available <a href="https://github.com/pgrimaud/ratp-api-rest">here</a>.
        </div>
        <iframe src="https://ghbtns.com/github-btn.html?user=pgrimaud&repo=ratp-api-rest&type=star&count=true"
                frameborder="0" scrolling="0" width="170px" height="20px">
        </iframe>
    </div>

</div>

<style type="text/css">
    #header {
        background-color: #00AA91;
    }

    #summary {
        display: none;
    }

    .motd__item__title {
        float: left;
    }

    .motd__item iframe {
        margin-top: -3px;
        margin-left: 10px;
    }
</style>