<div class="motd">
    This project is not affiliated with or endorsed by the RATP.<br/><br/>
    Support and source code are available <a href="https://github.com/pgrimaud/ratp-api-rest">here</a>.
</div>

<style type="text/css">
    /* @todo */
    #header {
        background-color: #00AA91;
    }
</style>