<div class="motd">
    This project is not affiliated with or endorsed by the RATP.<br/><br/>
    Support and source code are available <a href="https://github.com/pgrimaud/ratp-api-rest">here</a>.

    <!--<iframe src="https://ghbtns.com/github-btn.html?user=pgrimaud&repo=ratp-api-rest&type=star&count=true&size=small"
            frameborder="0" scrolling="0" width="100px" height="20px"></iframe> -->
</div>

<style type="text/css">
    /* @todo */
    #header {
        background-color: #00AA91;
    }
</style>

<script type="text/javascript">
    jQuery(document).ready(function () {
        $('#summary').remove();
    });
</script>